<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

	<table border=0 cellspacing=0 cellpadding=5>
	<tr style="vertical-align: middle;">
		<td><a href="\"><img src="socialgist_dt.jpg" alt="DT Youtube Home" height=25></a></td>
		<td width="30"></td>
		<td><h2>Debug Tools</h2></td></tr>
	</table>

	<hr>

	<table border=0 cellspacing=5 cellpadding=0>
		<tr style="vertical-align: middle;">
			<td><img src="socialgist_youtube.jpg" alt="DT Youtube Home" height=25></td>
			<td width="20"></td>
			<td>YouTube Video:</td>
			<td width="20"></td>
			<td><a href="/youtube_index">/youtube_index</a></td>
		</tr>
		<tr style="vertical-align: middle;">
			<td><img src="socialgist_vk.jpg" alt="DT Youtube Home" height=25></td>
			<td width="20"></td>
			<td>VK Collector:</td>
			<td width="20"></td>
			<td><a href="/vk_index">/vk_index</a> [Under construction :)]</td>
		</tr>
	</table>
    
</body>
</html>