<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
	
	<table border=0 cellspacing=0 cellpadding=0>
	<tr style="vertical-align: middle;">
		<td><a href="\"><img src="socialgist_vk.jpg" alt="DT Youtube Home" height=25></a></td>
		<td width="30"></td>
		<td><h2>VK Debug Tools</h2></td></tr>
	</table>
	<hr>
	
	
    VK Stats:  
     <ul>
    	<li><a href="/vk_stats">/vk_stats</a> 	</li>
    </ul>
    
    VK API: 

	<table border=0 cellspacing=0 cellpadding=0>
		<tr style="vertical-align: middle;">
		<td>
     		<ul>
    			<li><a href="/api_wall?wall_id=">Wall</a></li>
    			<li><a href="/api_wall_posts?wall_id=">Wall Posts</a></li>
		    	<li><a href="/api_post?post_id=">Post</a></li>
		    	<li><a href="/api_comments?post_id=">Comments</a></li>
    		</ul>
		</td>
		<td>
			&nbsp;&nbsp;&nbsp;
		</td>
		<td>
			/groups.getById || /users.get  <br>
    		/wall.get 		<br>
    		/wall.getById		<br>
    		/wall.getComments
		</td>
		</tr>
	</table>

	Collector quality check
	
     <ul>
    	<li><a href="/wall_list?wall_id=">Wall</a> </li>
    	<li><a href="/post_list?post_id=">Post</a> 		</li>
    </ul>
    	
	Premium stats 
    	
     <ul>
    	<li><a href="/dbView?view=mqu&params=10">Most quota used</a> </li>
    	<li><a href="/dbView?view=rs&params=0">Rules started</a>     </li>
    	<li><a href="/dbView?view=ps&params=0">Premium process current status</a>    </li>
    </ul>

	Tokens usage 

     <ul>
    	<li><a href="/tokensView?type=3">Premium </a> </li>
    	<li><a href="/tokensView?type=4">Generic keywords</a> </li>
    	<li><a href="/tokensView?type=5">Channels recheck</a> </li>
    </ul>

	Proxy tools 

     <ul>
    	<li><a href="/check_proxy?proxyHost=&proxyPort=">Check proxy IP</a> </li>
    	<li><a href="/vk_tokens">Assign proxy to VK tokens</a> (Under construction)</li>
    	<li><a target="_blank" href="http://proxy-api-client.k8s-prod.sgdctroy.net/v1/availableips/provider/blazing/zone/1/type/shared">Blazing Proxy list</a> </li>
    </ul>


	HBase view 
    	
     <ul>
    	<li><a href="/vk_wall_hbaseview?start=wall.0000">walls(wall.0000)</a> </li>
    	<li><a href="/vk_wall_ref_hbaseview?start=wallr.0000">walls refs(wallr.0000)</a> </li>
    </ul>
    	
    
</body>
</html>